@import "tailwindcss";

:root {
  --background: #fdfaf6; /* ivoire/crème doux */
  --foreground: #3b3b3b; /* gris foncé chaleureux */
  --primary: #dac7b4; /* caramel */
  --secondary: #e9e0d2; /* sable clair */
  --accent: #b1a093; /* beige taupe */
  --highlight: #a3a3a3; /* gris doux */
  --danger: #e57373; /* rouge doux (pour erreurs) */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway), Arial, Helvetica, sans-serif;
  height: 100%;
}

.logo {
  font-family: var(--font-knewave), Arial, Helvetica, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
