@import "tailwindcss";

:root {
  --background: #fdfaf6;
  --foreground: #3b3b3b;
  --primary: #625141;
  --secondary: #e9e0d2;
  --accent: #d4cdc8;
  --highlight: #a3a3a3;
  --danger: #e57373;
  --answer: #18564b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway), Arial, Helvetica, sans-serif;
  height: 100%;
}

.logo {
  font-family: var(--font-knewave), Arial, Helvetica, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
